<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Pizza{% endblock %}</title>
    
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Material Design Bootstrap -->
    <link rel="stylesheet" href="{{asset('dist/css/bootstrap.min.css')}}" type="text/css" />
    <link rel="stylesheet" href="{{asset('css/style.css')}}" type="text/css" />
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    	 <!-- Start your project here-->
<header>
        <h1>Pizza</h1>
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-contents">
                <ul class="nav navbar-nav">
                    <li><a href="{{ path('home') }}"><i class="glyphicon glyphicon-home"></i> Présentation</a></li>
                    <li><a href="{{ path('pizzas_list') }}"><i class="glyphicon glyphicon-list"></i> Les pizzas</a></li>
                    <li><a href="{{ path('Ingrediant_list') }}"><i class="glyphicon glyphicon-list"></i> Les ingredients</a></li>
                    <li><a href="{{ path('ajouter_pizza') }}"><i class="glyphicon glyphicon-usd"></i> ajouter</a></li>
                    <li><a href="{{ path('listComm') }}"><i class="glyphicon glyphicon-usd"></i> Commander</a></li>
                    <li><a href="{{ path('commande') }}"><i class="glyphicon glyphicon-usd"></i> Ajouter_commande</a></li>
                </ul>

                <div class="navbar-login">

                <form method="POST" action="{{ path('login') }}">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                            <input type="text" id="_username" class="form-control" name="_username" placeholder="Username">
                        </div>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                            <input type="password" id="_password" class="form-control" name="_password" placeholder="Password">
                        </div>  
                    <input type="submit" class="btn btn-primary">
                    </form>
                </div>
            </div>
        </nav>
    </header>
    <!-- /Start your project here-->

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
         <!-- SCRIPTS -->
   
    <!-- Your custom script (optional) -->
    <script>
    
    </script>
    </body>
</html>
